*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
header{
  width: 100%;
  height: 50px;
  background-color: mediumblue;
}

.container{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 950px;
  height: 50vh;
}

@media screen and (max-width: 905px) {
  .container{
    width: 100%;
  }
}



.container-prev{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
  height: 50vh;
}

.prev{
  width: 90%;
  height: 40vh;

  border: solid 2px grey;
}

.enviar{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 4vh;
  padding: 18px;

  cursor: pointer;

  background: transparent;
  border: solid 2px grey;
}

.container-arquivo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50vh;
}

.url{
  padding: 1rem;
  width: 100%;
  height: 4vh;
  border: solid 2px grey;
  outline: none;
}

.arquivo{
  width: 100%;
}

.barra{
  margin-top: 20px;
  width: 100%;
  height: 3px;
  background-color: black;
}

.card-foto{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerr{
  width: 100%;
}

@media screen and (max-width: 650px){
  .container-prev{
    height: 40vh;
  }

  .prev{
    height: 30vh;
  }

  .container-arquivo{
    height: 40vh;
  }
}